@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <thead>
        <input type="text" id="login" name="login">
        <br>
        <br>
        <input type="text" id="password" name="password">
        <br>
        <br>
        <input type="submit" value="Войти">
    </thead>
</div>
